.detail {
  padding: 30px 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;

  max-width: 637px;
  margin: 0 auto;

  .title {
    font-size: 24px;
    color: #052c54;
  }

  .description {
    font-size: 12px;
    color: #7c89a0;
    line-height: 15px;
  }

  .image {
    @include desktop {
      height: 427px;
    }
  }

  .content {
    font-size: 12px;
    color: #7c89a0;
    line-height: 15px;

    ul {
      padding: 0 15px;
    }
  }

  .author {
    font-size: 11px;
    display: flex;
    justify-content: flex-end;
  }

  .backLink {
    align-self: flex-start;
  }
}
