.newsList {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 15px 30px 15px;

  @include desktop {
    display: flex;
    flex-wrap: wrap;
    padding: 0 0 30px 0;

    > article {
      width: 220px;
      padding-bottom: 45px;

      &:not(:nth-child(4n)) {
        margin-right: 66px;
      }
    }
  }

  .image {
    @include desktop {
      height: 145px;
    }
  }
}
